:root {
	--primary-color: rgb(80, 197, 230);
	--secondary-color: rgb(26, 26, 26);
	--tertiary-color: rgb(230, 230, 230);
	--quaternary-color: rgb(172, 172, 172);
	--quinary-color: rgb(181, 211, 247);
	--focus-color: rgb(181, 211, 247);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	font-size: 1.5em;
	margin: 1px;
	min-width: 2em;
}

#calc {
	display: grid;
	grid-template:
		"bar bar bar bar bar"
		"seven eight nine divide multiply"
		"four five six substract add"
		"one two three clearEntry clear"
		"invertSign zero dot equal equal";
	background-color: var(--secondary-color);
	max-width: 95%;
	min-height: 50%;
}

#bar {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: bar;
	background-color: white;
}

#bar-content {
	width: 100%;
	height: 100%;
	padding: 1em;
	font-size: 2em;
	color: black;
	border: 1px solid #111;
}

#bar-content:focus {
	outline: none;
	background-color: var(--focus-color);
}

#zero {
	grid-area: zero;
}

#one {
	grid-area: one;
}

#two {
	grid-area: two;
}

#three {
	grid-area: three;
}

#four {
	grid-area: four;
}

#five {
	grid-area: five;
}

#six {
	grid-area: six;
}

#seven {
	grid-area: seven;
}

#eight {
	grid-area: eight;
}

#nine {
	grid-area: nine;
}

#divide {
	grid-area: divide;
}

#multiply {
	grid-area: multiply;
}

#substract {
	grid-area: substract;
}

#add {
	grid-area: add;
}

#dot {
	grid-area: dot;
}

#equal {
	grid-area: equal;
}

#clear {
	grid-area: clear;
}

#clearEntry {
	grid-area: clearEntry;
}

#invertSign {
	grid-area: invertSign;
}
